.Draggable {
    cursor: grab;
}

.DropTarget {
    position: relative;

    &.--is-dragged-over {
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: calc(-1 * var(--ui-inset-lg));
            left: calc(-1 * var(--ui-inset-lg));
            width: 100%;
            height: calc(100% + var(--ui-inset-lg));
            background-color: rgba(0, 102, 255, 0.2);
            border: 2px solid var(--ui-color-primary-80);
            border-radius: var(--ui-inset-sm);
            padding: var(--ui-inset-sm);
            z-index: 1;
        }
    }
}