.Todo {
    width: 100%;
    background-color: var(--ui-color-neutral-100);
    border-radius: var(--ui-inset-sm);
    padding: var(--ui-inset-lg);

    .Title {
        max-width: calc(100% - 80px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .Body {
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}