:root {
    --ui-color-neutral-100:     #ffffff;
    --ui-color-neutral-90:      #f6fafd;
    --ui-color-neutral-80:      #f0f4f7;
    --ui-color-neutral-70:      #d9e2ec;
    --ui-color-neutral-60:      #b0c4de;
    --ui-color-neutral-50:      #a0b2c4;
    --ui-color-neutral-40:      #90a0b2;
    --ui-color-neutral-30:      #7a8b9a;
    --ui-color-neutral-20:      #4b5563;
    --ui-color-neutral-10:      #1f2937;
    --ui-color-neutral-00:      #000000;

    --ui-color-primary-80:      #0241fe;
    --ui-color-primary-60:      #0050e5;
    --ui-color-primary-40:      #0066ff;

    --ui-color-error-100:        #f7d7da;
    --ui-color-error-80:         #db2c3e;
    --ui-color-warning-100:      #fcf2cd;
    --ui-color-warning-80:       #ffc400;
    --ui-color-success-100:      #d7ffea;
    --ui-color-success-80:       #00cc66;

    --ui-inset-xs:              4px;
    --ui-inset-sm:              8px;
    --ui-inset-md:              12px;
    --ui-inset-lg:              16px;
    --ui-inset-xl:              24px;

    --ui-header-height:         60px;
}