* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--ui-color-neutral-100);
  color: var(--ui-color-neutral-00);
}